<html>
  <head>
    <title>Hello World!</title>
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
  </head>
  <body ng-app="app">

    <h1 ng-controller="heading">{{message}}</h1>

    <script>
      angular.module("app", []).controller("heading", function($scope) {
        $scope.message="Hello World"
      } )
    </script>

  </body>
</html>
