<!DOCTYPE html>
<html>
  <head>

    <title>To Do</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body ng-app="ToDoApp">

    <h1>To Do</h1>

    <input type="text" placeholder="Add Item" ng-model="userInput">
    <button ng-click="addItem()">Add</button>

    <div id="list" ng-controller="list">
      <div ng-repeat="item in items">
        <p>{{ item.date }}</p>
        <p>{{ item.todo }}</p>
      </div>
    </div>

    <script type="text/javascript">
      var app = angular.module("ToDoApp", []);

      app.controller("list", function($scope) {
        $scope.items = [];
        $scope.addItem = function() {
          var obj = {date: "date", todo: $scope.userInput};
          $scope.items.push({date: "date", todo: "todo"});
        }
        $scope.removeItem = function(x) {
          $scope.items.splice(x, 1);
        }
      });
    </script>
  </body>
</html>
